

pre {
	border: 1px solid #36e794;
	padding: 0.25em;
	background-color: black;
}

figcaption {
	background-color: black;
	color: white;
	font-style: italic;
	text-align: center;
	padding: 2px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

thead {
  color: white;
  background-color: black;
}

tr:nth-child(even) {
  background-color: #5a5e5b;
  color: black;
}