body{
    font-family: Open Sans,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: linear-gradient(45deg,#08090a,#101a26);
    color: white;
	margin-left: 8%;
}