body{
    font-family: Open Sans,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: linear-gradient(45deg,#08090a,#101a26);
    color: white;
	margin-left: 16%;
    margin-right: 16%;
	margin-top: 2%;
}

.page-title {
    font-size: 250%;
    clear: both;
    text-align: center;
    border: 1px solid #36e794;
    padding: 0.25em;
	margin-top: 2px;
}

.catalogue-section {
	text-align: center;
	padding: 0.25em;
}

.page-section {
    font-size: 120%;
    font-weight: bolder;
    padding: 0.25em;
    border: 1px solid #36e794;
}

.footer {
	border-top: 3px inset #36e794;
	padding-top: 0.25em;
	font-size: 80%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
}

a:link {
	color: #36e794;
	background-color: transparent;
 
}

a:visited {
	color: grey;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: grey;
	background-color: transparent;
	text-decoration: underline;
}

.table-of-contents{
	width: 100%;	
}

/* Container for the header */
.header {
	display: flex;
	justify-content: space-between; /* Space items evenly across the container */
	align-items: center; /* Align items vertically */
	padding: 10px; /* Add padding for spacing */
	/*background-color: #f0f0f0; /* Add a background color */
}
