
/* Style for the search input */
#searchInput {
	width: 200px; /* Set the width of the input field */
	padding: 8px; /* Add some padding for better appearance */
	border-radius: 5px; /* Add some border radius for rounded corners */
	border: 1px solid #ccc; /* Add a border */
	outline: none; /* Remove the default focus outline */
}

/* Adjust input width on smaller screens */
@media screen and (max-width: 600px) {
	#searchInput {
		width: 150px; /* Adjust width for smaller screens */
	}
}

/* Style for the search results */
#searchResults {
	z-index: 2;
	border: 1px solid #ccc; 
	max-height: 200px;
	overflow-y: auto; 
	width: 300px;
	margin-right: 200px;
	display: none;
	position: absolute;
    right: 0;
	background-color: #101a26;
	color: white;
}

/* Style for the search result item */
.searchResultItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchResultItem:hover {
    background-color: #36e794;
	color: black;
}