body{
    font-family: Open Sans,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: linear-gradient(45deg,#08090a,#101a26);
    overflow: hidden;
    color: white;
}

.container{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6,1fr);
    height: 100%;
    grid-gap: 5px;
}

#navigation-bar{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    padding: 5px; 
}

#description-container{
    grid-column: 2/3;
    grid-row: 3/4;
}

#profile-pic-container{
    grid-column: 3/4;
    grid-row: 3/5;
    border: 2px solid #36e794;
}

#profile-pic{
    width:100%;
    height:100%;
}

.navigation-item{
    display:inline-block;
    height: 50px;
    width: 100px;
}

#screen-border {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top:25px;
    left:25px;
    border: 2px solid #36e794;
    position: absolute;
}